# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/sg-1000/"

rgui_config_directory = "/opt/retropie/configs/sg-1000/config_crt"
video_shader_dir = "/opt/retropie/configs/sg-1000/config_crt"
aspect_ratio_index = "23"
custom_viewport_width = "640"
custom_viewport_height = "480"
core_options_path = "/opt/retropie/configs/sg-1000/retroarch-core-options.cfg"
run_ahead_enabled = "true"
run_ahead_secondary_instance = "true"
#include "/opt/retropie/configs/all/retroarch.cfg"
