<settings>
    <setting id="usecustombackground" type="bool">false</setting>
    <setting id="showbackgroundvideo" type="bool">false</setting>
    <setting id="show_profileavatar" type="bool">false</setting>
    <setting id="showbackgroundvis" type="bool">false</setting>
    <setting id="hidebackgroundfanart" type="bool">false</setting>
    <setting id="show_profilename" type="bool">false</setting>
    <setting id="homepagehiderecentlyaddedvideo" type="bool">false</setting>
    <setting id="homepagehiderecentlyaddedalbums" type="bool">false</setting>
    <setting id="homepagemusicinfo" type="bool">false</setting>
    <setting id="homepagevideoinfo" type="bool">false</setting>
    <setting id="homemenumovieuseplaylist" type="bool">false</setting>
    <setting id="homemenutvshowuseplaylist" type="bool">false</setting>
    <setting id="homemenumusicuseplaylist" type="bool">false</setting>
    <setting id="homemenunomoviebutton" type="bool">false</setting>
    <setting id="homemenunotvshowbutton" type="bool">false</setting>
    <setting id="homemenunoweatherbutton" type="bool">false</setting>
    <setting id="masterhomemenunoweatherbutton" type="bool">false</setting>
    <setting id="homemenunopicturesbutton" type="bool">false</setting>
    <setting id="masterhomemenunopicturesbutton" type="bool">false</setting>
    <setting id="homemenunogamesbutton" type="bool">false</setting>
    <setting id="masterhomemenunogamesbutton" type="bool">false</setting>
    <setting id="homemenunovideosbutton" type="bool">false</setting>
    <setting id="masterhomemenunovideosbutton" type="bool">false</setting>
    <setting id="masterhomemenunomoviebutton" type="bool">false</setting>
    <setting id="masterhomemenunotvshowbutton" type="bool">false</setting>
    <setting id="homemenunomusicbutton" type="bool">false</setting>
    <setting id="masterhomemenunomusicbutton" type="bool">false</setting>
    <setting id="homemenunoprogramsbutton" type="bool">false</setting>
    <setting id="masterhomemenunoprogramsbutton" type="bool">false</setting>
    <setting id="homemenunosystembutton" type="bool">false</setting>
    <setting id="homepageweatherinfo" type="bool">false</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="firsttimerun" type="bool">true</setting>
    <setting id="MasterCustomBackgroundPath" type="string"></setting>
    <setting id="custombackgroundpath" type="string"></setting>
    <setting id="HomeVideosButton1" type="string"></setting>
    <setting id="HomeVideosButton2" type="string"></setting>
    <setting id="HomeVideosButton3" type="string"></setting>
    <setting id="HomeVideosButton4" type="string"></setting>
    <setting id="HomeVideosButton5" type="string"></setting>
    <setting id="HomeMusicButton1" type="string"></setting>
    <setting id="HomeMusicButton2" type="string"></setting>
    <setting id="HomeMusicButton3" type="string"></setting>
    <setting id="HomeMusicButton4" type="string"></setting>
    <setting id="HomeMusicButton5" type="string"></setting>
    <setting id="HomePictureButton1" type="string"></setting>
    <setting id="HomePictureButton2" type="string"></setting>
    <setting id="HomePictureButton3" type="string"></setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="HomeProgramButton1" type="string"></setting>
    <setting id="HomeProgramButton2" type="string"></setting>
    <setting id="HomeProgramButton3" type="string"></setting>
    <setting id="HomeProgramButton4" type="string"></setting>
    <setting id="HomeProgramButton5" type="string"></setting>
    <setting id="HomeGameButton1" type="string"></setting>
    <setting id="HomeGameButton2" type="string"></setting>
    <setting id="HomeGameButton3" type="string"></setting>
    <setting id="HomeGameButton4" type="string"></setting>
    <setting id="HomeGameButton5" type="string"></setting>
</settings>
